nav.breadcrumbs
  ol.breadcrumbs__list
    // TODO: Заглушка - заменить на динамические хлебные крошки
    li.breadcrumbs__item
      a.breadcrumbs__link(href="/") ГЛАВНАЯ
    li.breadcrumbs__item
      a.breadcrumbs__link(href="/products") ПРОДУКТЫ
    li.breadcrumbs__item
      span.breadcrumbs__current КРАСКИ