doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title COLORS - Каталог товаров
    meta(name="description" content="Каталог товаров магазина красок COLORS")
    link(rel="stylesheet" href="css/main.css")
    
  body
    include assets/img/icons-sprite.svg
    
    main.main
    
    script(src="js/main.js") 