doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title COLORS - Краски
    meta(name="description" content="Каталог товаров магазина красок COLORS")
    link(rel="stylesheet" href="css/main.css")
    
  body
    include assets/img/icons-sprite.svg
    
    include components/header/header
    
    main.main
      section.paints-slider
        include components/slider/slider
        +slider({
          title: 'Краски',
          subtitle: 'Идеально подходят для стен и других поверхностей. Найди свой идеальный цвет!',
          defaultImage: 'img/slides/slider-1.png',
          altText: 'Краски',
          imagePath: 'img/slides',
          imagePrefix: 'slider',
          imageExtension: 'png',
          maxSlides: 6
        })
      
      section.paints-catalog
        include components/catalog/catalog
    
    script(src="js/main.js") 